@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');

html {
    /* 62.5% font-size 0f 16px = 10px */
    font-size: 62.5%;
    line-height: 1.15;
  -webkit-text-size-adjust: 100%;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
  }

  body {
    width: 136.6rem;
    margin: 0;
  }
  
  :root {
    --color-navbar: #484848;
    --color-blur: #FFF0C9;
    --color-white: #FFFFFF;
    --color-title: #1A407B;
    --color-body: #707070;
    --color-link: #184B83;
    --color-footer: #CAFEFF;
    --color-navblur: #C9EFC9;
    --color-button: #07A6FF;
    --color-button-hover: #0774B4;
    --color-mediacircle: #FFEEDD;
    --color-snippetbar: #B5E5FF;
    --color-form-chat: #F4F4F1;
    --color-chat-shadow: #00000029;
    --color-message-in: #D8DDE6;
    --color-message-out: #C6D6F4;
  }

  /* Main CBloack NavBar============================= */

  /* Links */
  a {
    text-decoration: none;
    color: var(--color-navbar);
  }
  .link__auth {
    padding-left: 1.5rem;
  }
  .link__auth > a {
    font: normal normal normal 20px/30px Poppins;
    letter-spacing: 0;
    color: var(--color-link);
  }

  /* Lists */
.list {
    list-style: none;
    padding-left: 0;
  }
  .list-main__stats {
    margin-top: 10.8rem;
    display: flex;
    justify-content: space-between;
  }
  .item__stat{
    height: 3.6rem;
    font: normal normal 500 26px/39px Poppins;
    text-align: left;
    letter-spacing: 0;
    color: var(--color-title);
    opacity: 1;
    margin: 0;
  }
  .item__stat__description {
    height: 2.3rem;
    text-align: left;
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0;
    color: var(--color-body);
    opacity: 1;
    margin-top: 1rem;
  }

  .list__footer {
    margin: 0;
    width: 10.5rem;
    text-align: left;
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0;
    color: var(--color-title);
    opacity: 1;
  }
  .list__footer > li {
    height: 2.3rem;
    margin-bottom: 2rem;
  }

  /* Navbars */
.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2.9rem;
    align-items: center;
  }

  .nav__icon {
    height: 4.7rem;
    width: 15.6rem;
    opacity: 1;
    margin-inline-end: auto;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    width: 42.9rem;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    font: normal normal normal 16px/25px Poppins;
    opacity: 1;
    letter-spacing: 0;
    height: 2.3rem;
    color: var(--color-navbar);
  }

  .nav-container {
    width: 108.8rem;
    height: auto;
  }

  .nav__item:hover > a {
    font-weight: bold;
    cursor: pointer;
  }

  .nav__blur {
    top: -2.6rem;
    width: 17.5rem;
    height: 17.5rem;
    background: var(--color-navblur) 0% 0% no-repeat padding-box;
    opacity: 0.56;
    filter: blur(50px);
  }
  .nav__footer{
    padding-top: 3.8rem;
    display: flex;
    justify-content: space-between;
  }
  .nav__footer > div {
    margin-right: 25.2rem;
  }

  .nav-attachment-container {
    margin: 0;
    position: relative;
    width: auto;
    height: 8.4rem;
    padding: 0 13.9rem 0 13.9rem;
  }
  .box {
    position: absolute;
  }



  /* Blocks */
  .block {
    width: auto;
    padding: 0 13.9rem 0 13.9rem;
  }
  .block--search {
    top: 0px;
    left: 0px;
    height: 29.6rem;
    background: transparent linear-gradient(78deg, #CAFEFF 0%, #F0FEFF 57%, #E7F3F4 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .block--faq {
    height: 102.2rem;
    background: var(--color-white) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .block--main {
    top: 0px;
    left: 0px;
    height: 76.8rem;
    background: transparent linear-gradient(61deg, #CAFEFF 0%, #F0FEFF 57%, #E7F3F4 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .block--second {
    height: 55.2rem;
    background: var(--color-white) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .block--third {
    height: 76.8rem;
    background: var(--color-white) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .block--footer {
    
    height: 27.5rem;
    background: var(--color-footer) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .block__title {
    height: 5.1rem;
    text-align: center;
    font: normal normal 500 36px/55px Poppins;
    letter-spacing: 0;
    color: var(--color-title);
    opacity: 1;
    margin: 0;
    padding: 7rem 0 7rem 0;
  }
  .block__heading {
    height: 3.3rem;
    font: normal normal 500 24px/35px Poppins;
    letter-spacing: 0;
    color: var(--color-title);
    opacity: 1;
    margin: 4rem 0 1rem 0;
  }

  /* FAQ */
  .faq-container {
    padding: 0 13.9rem 0 13.9rem;
  }
  .faq__title-one {
    margin: 2rem 0 1rem 0;
  }
  .faq__list-question {
    margin: 0.9rem 0 1.5rem 0;
    height: 2.3rem;
    font: normal normal 600 16px/25px Poppins;
    color: var(--color-body);
  }
  .faq__list {
    margin: 0;
    padding-top: 3.1rem;
  }
  .faq__questions {
    padding-bottom: 2.4rem;
    border-bottom: 0.1rem solid #D5D5D5;
  }
  .faq__title-two {
    margin: 3rem 0 3rem 0;
  }

  .media-container > .chat__button {
    padding-left: 0;
  }

  /* Contact Us */
  .contact__input {
    padding: 0 2rem 0 2rem;
    width: 40.2rem;
    height: 4.8rem;
    margin-bottom: 1rem;
    outline: none;
    background: var(--color-white) 0% 0% no-repeat padding-box;
    border: 0.1rem solid #D5D5D5;
    border-radius: 1rem;
  }
  .contact__input::placeholder {
    height: 2.3rem;
    color: var(--color-navbar);
    font: normal normal normal 16px/25px Poppins;
  }
  .contact__textarea::placeholder {
    color: var(--color-navbar);
    font: normal normal normal 16px/25px Poppins;
  }
  .contact__textarea {
    margin-left: 1.6rem;
    padding: 1.4rem 0 0 2rem;
    width: 42.2rem;
    height: 15.4rem;
    border: 0.1rem solid #D5D5D5;
    border-radius: 1rem;
    resize: none;
    outline: none;
  }

  
  /* Main Container Block Media ================================ */
  /* Media Objects */
.media-container {
  display: flex;
}

.media-attachment-container {
  width: 67.5rem;
  height: 68.3rem;
  position: relative;
}

.media__blur {
  width: 67.5rem;
  height: 68.3rem;
  background: var(--color-blur) 0% 0% no-repeat padding-box;
  opacity: 0.32;
  filter: blur(5rem);
  border-radius: 30rem;
}
.media__description {
  margin: 2rem 0 3.1rem 0;
  width: 44.8rem;
  height: 3.3rem;
  font: normal normal normal 24px/35px Poppins;
  letter-spacing: 0;
  color: var(--color-body);
  opacity: 1;
}
.description__auth {
  margin-bottom: 2.5rem;
}
.media__checkbox-auth {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 3rem 0;
}
#remember-me {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 1rem 0 0;
}
#remember-me-label {
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0;
  color: var(--color-body);
}
.group23__img > img {
  /* To remove the ~10px hover of the image */
  object-position: 0 1rem;
}

.title {
  margin: 0;
  font: normal normal 500 46px/69px Poppins;
  letter-spacing: 0;
  color: var(--color-title);
  opacity: 1;
}
.media__title {
  width: 35.5rem;
  height: 13.3rem;
}
.login__title {
  font: normal normal 500 36px/55px Poppins;
  width: 9.6rem;
  height: 5.1rem;
}
.signup__title {
  font: normal normal 500 36px/55px Poppins;
  width: 13.8rem;
  height: 5.1rem;
}
.media__body {
  margin: 0;
  padding: 17rem 0 0 13.9rem;
  width: 55.2rem;
  height: 51.3rem;
}
.svg-monitor-container {
  width: 67.5rem;
}

.media__svg-monitor {
  /* svg by Juan Pablos Munoz Upegui @codepen.io */
  padding: 6rem 11.1rem 0 0;
  text-align: right;
}
.media__circle {
  margin: 14rem 0 0 5rem;
  border: 7rem solid var(--color-mediacircle);
  border-radius: 30rem;
  height: 33rem;
  width: 33rem;
}

.media-img-snippet-container {
  width: 67.5rem;
  margin-top: 40.4rem;
  display: flex;
  justify-content: right;
}
.media__img-snippet {
  margin-right: 13.9rem;
  height: 14.2rem;
  width: 21.7rem;
  background: var(--color-white) 0% 0% no-repeat padding-box;
  border-radius: 1rem;
  opacity: 1;
}

.media__img-snippet-title {
  margin: 2rem 0 1rem 2.9rem;
  height: 2.3rem;
  width: 13.7rem;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0;
  color: var(--color-title);
  opacity: 1;
}

.group90__img {
  padding-left: 1.9rem;
}
.snippet__bar {
  margin: 0.9rem 0 0 2rem;
  height: 0.8rem;
  background: var(--color-snippetbar) 0% 0% no-repeat padding-box;
}
.light-bar-one {
  width: 17.7rem;
}
.light-bar-second {
  width: 8.7rem;
  opacity: 0.44;
}

/* Buttons */
.btn{
  font: normal normal normal 20px/30px Poppins;
  border: 0;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
  height: 5.6rem;
  letter-spacing: 0;
  color: var(--color-white);
  outline: 0;
  background: var(--color-button) 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 8px var(--color-button);
  opacity: 1;
}
.btn__handoff {
  margin: 0.2rem 2rem 0.2rem 0;
  padding: 1.1rem 1.4rem;
  font: normal normal normal 16px/25px Poppins;
  border-radius: 0.6rem;
  height: 4.5rem;
}
.btn__handoff:hover {
  background: var(--color-button-hover) 0% 0% no-repeat padding-box;
}
.btn__home {
  width: 26.8rem;
}
.btn__home:hover {
  background: var(--color-button-hover) 0% 0% no-repeat padding-box;
}
.btn__auth {
  width: 16.9rem;
  padding: 1.4rem 3.9rem 1.4rem 3.9rem;
}
.btn__auth:hover {
  background: var(--color-button-hover) 0% 0% no-repeat padding-box;
}

.btn__faq-tab {
  height: 3.7rem;
  color: var(--color-body);
  background: transparent linear-gradient(74deg, #E9E9E9 0%, #F6F6F6 100%) 0% 0% no-repeat padding-box;
  font: normal normal 500 16px/25px Poppins;
  box-shadow: none;
  border-radius: 0;
  padding: 0.7rem 1.4rem;
}
.btn__faq-tab-clicked {
  height: 3.7rem;
  color: var(--color-title);
  background: transparent linear-gradient(72deg, var(--color-footer) 0%, #E7F3F4 100%) 0% 0% no-repeat padding-box;
  font: normal normal 500 16px/25px Poppins;
  box-shadow: none;
  border-radius: 0;
  padding: 0.7rem 1.4rem;
}
.btn__contact {
  margin-top: 2rem;
  padding: 1.4rem 3.9rem 1.4rem 3.9rem;
}
.btn__contact:hover {
  background: var(--color-button-hover) 0% 0% no-repeat padding-box;
}


/* Second Block Features */
.features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.feature__icon {
  height: 7rem;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 0;
}
.feature-description {
  height: 17.8rem;
  width: 35.2rem;
  font: normal normal normal 20px/30px Poppins;
  letter-spacing: 0;
  color: var(--color-body);
}
.feature-description > p {
  margin: 0;
}
.feature-description > a {
  color: var(--color-link);
}

.care-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.care__virtual > p {
  margin-top: 3rem;
}
.care__in-person > p {
  margin-top: 3rem;
}

.mask-group4__img {
  margin: auto;
  opacity: 1;
  width: 53.6rem;
  height: 42rem;
}
.mask-group5__img {
  margin: auto;
  opacity: 1;
  width: 53.6rem;
  height: 42rem;
}
#rep__img {
  border-radius: 1rem;
}

/* FAQ */
.search-container {
}
::placeholder {
  color: var(--color-title);
}
.search__title {
  width: 40.3rem;
  height: 5.1rem;
  font: normal normal 500 36px/55px Poppins;
}
.search__title-group {
  margin: 5.5rem 0 2.5rem 0;
  display: flex;
  justify-content: center;
}
.search__input-group-attachment {
  display: flex;
  justify-content: center;
  width: 136.6rem;
  position: relative;
}
.search__input{
  width: 85.6rem;
  padding: 1.4rem 0 1.4rem 2.4rem;
  border: 1px solid var(--color-border);
  border-radius: 2.8rem;
  outline: 0;
  color: var(--color-title);
  font: normal normal 300 20px/30px Poppins;
}
.search__icon {
  width: 2.7rem;
  height: 2.7rem;
  margin: 1.5rem 0 1.5rem 80rem;
}
.static {
  bottom: 0.7rem;
  right: 11.8rem;
  position: fixed;
}

#Component_1_1 {
  transition: display 0.9s ease-out;
}
#Component_1_1:hover {
  cursor: pointer;
}

#Group_93 {
  display: none;
  transition: display 0.9s ease-out;
}
#Component_1_1:hover > #Group_93 {
  display: block;
}

/* Chatbot Form */
.form-container {
  width: 45rem;
  height: 54.8rem;
  background: var(--color-form-chat) 0% 0% no-repeat padding-box;
  box-shadow: 0 0.3rem 0.8rem var(--color-chat-shadow);
  border-radius: 3rem 3rem 0 0;
}
.form-container textarea {
  padding: 1rem;
  font: normal normal normal 16px/25px Poppins;
  border: none;
  resize: none;
  outline: none;
  width: 29.8rem;
  height: 5rem;
  letter-spacing: 0;
}
textarea::placeholder {
  color: #C8C8C8;
}
.chat-popup {
  
}
.chat-header {
  display: flex;
  justify-content: space-between;
  background: var(--color-white) 0% 0% no-repeat padding-box;
  box-shadow: 0 0 0.3rem var(--color-chat-shadow);
  border-radius: 3rem 3rem 0 0;
  opacity: 1;
}
.chat-input {
  display: flex;
  background: var(--color-white) 0% 0% no-repeat padding-box;
}
.chat__heading {
  margin: 2rem 0 1.7rem 0;
  height: 3.3rem;
  font: normal normal 500 24px/35px Poppins;
  letter-spacing: 0;
  color: var(--color-body);
}
.chat__button {
  outline: none;
  border: none;
  background: none;
  padding: 0 2rem 0 2rem;
}
.chat__button:hover {
  cursor: pointer;
}
.chat__button:hover > span > svg {
  background: #DDD 0% 0% no-repeat padding-box;
  transform: scale(1.1);
}
.chat__button:hover > span > picture > img {
  background: #DDD 0% 0% no-repeat padding-box;
  transform: scale(1.1);
}
.btn-bottom-one {
  padding-right: 1rem;
}
.btn-bottom-two {
  padding-left: 1rem;
}
.button-voice {
  background: #C9EFC9 0% 0% no-repeat padding-box;
}
.chat-handoff {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0.3rem var(--color-chat-shadow);
}
.media-flex-alignitems-center {
  display: flex;
  align-items: center;
}
.media-flex-alignitems-center > svg {
  margin-left: 1.4rem;
}
.media-flex-alignitems-center > span {
  margin-left: 1.4rem;
}
.media-flex-alignitems-center > p {
  margin: 0 0 0 0.9rem;
  height: 2.3rem;
  font: normal normal 600 16px/25px Poppins;
  color: var(--color-body);
}
#my-form {
  display: none;
}

.message__item_out {
  margin-bottom: 1rem;
  margin-left: 0.1rem;
}
.message__item_in {
  margin-bottom: 1rem;
  display: flex;
  justify-content: right;
}
.message__item-div_out {
  width: fit-content;
  border: solid var(--color-message-out);
  border-radius: 0.5rem;
  background-color: var(--color-message-out);
}
.message__item-div_in {
  width: fit-content;
  text-align: left;
  border: solid var(--color-message-in);
  border-radius: 0.5rem;
  background-color: var(--color-message-in);
}

